body {
  position: relative;
  padding-top: 60px;
  background-color: #EEE;
}
hr {
border-top: 1px solid #D6D6D6;
}
select {
  width: 40px;
}
.search * {
  float: left;
  margin-right: 10px;
}
.acc {
text-shadow: 1px 1px white;
}
.acc span.label {
  text-shadow: none;
}
.acc tr {
overflow: hidden;
font-size: 1.155em;
font-weight: normal;
z-index: 100;
}
.acc td {
color: #8497B0;
}
.acc td {
  border:0;
}
.acc tr:hover td{
  background-color: white;
}
.acc tr:hover td:first-child {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.acc tr:hover td:last-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.acc tr:hover td {
  text-decoration: underline;
}
.acc tr:hover td:first-child {
  text-decoration: none;
}
.acc a {
  text-decoration: none;
}
.acc tr span {
  text-shadow: none;
}

.center {
  text-align: center;
  margin-bottom: 18px;
}
