body {
  position: relative;
  padding-top: 60px;
  background-color: #EEE;
}
hr {
border-top: 1px solid #D6D6D6;
}
.acc {
text-shadow: 1px 1px white;
}
.acc span.label {
  text-shadow: none;
}
.acc tr {
overflow: hidden;
font-size: 1.155em;
font-weight: normal;
z-index: 100;
}
.acc td {
color: #8497B0;
}
.acc td {
  border:0;
}
.acc tr:hover td{
background-color: white;
}
.acc tr:hover td {
  text-decoration: underline;
}
.acc tr:hover td:first-child {
  text-decoration: none;
}
.acc a {
  text-decoration: none;
}
.acc tr span {
  text-shadow: none;
}

.center {
  text-align: center;
  margin-bottom: 18px;
}
