{{>head}}
<h1>About</h1>

<p>The idea is to have an architecture built around CouchDB. All the accessions and metadata related to accessions, is saved in this central couch instance. This allows for easy replication and well defined API.</p>

<p>
<img src="/architecture_seedhub.png" />
</p>

<h2>How is data retrieved?</h2>

<p>I&rsquo;d like to avoid using a monolithic system. Since data upload is well defined through the CouchDB API, we can benefit from different methods:</p>

<ul>
<li>DDC &ndash; or a system equally powerful for letting people upload data</li>
<li>Web Scraping</li>
<li>Staging Area</li>
<li>etc..</li>
</ul>


<p>All these systems will talk directly with a couch. The cool thing is that the Couch can live anywhere &ndash; it can exist in someones local gene bank network and then it can be replicated to the other couch instances all over the internet. This can become a truly decentralized architecture for accessions.</p>

<h2>Frontends</h2>

<p>With data storage out the way we can now build all kinds of interfaces for this data. Couchapps or completely standalone apps written in any language &ndash; all they need to do is communicate with the couch API.</p>

<p>This could give burst to a whole new ecosystem of applications that take advantage of this data. For example:</p>

<ul>
<li>Statistical apps</li>
<li>Map apps with with cooperation with ArcGIS</li>
<li>Search apps. Elastic Search already works great together with couch&rsquo;s api.</li>
</ul>


<h2>A search example using Elastic Search</h2>

<p><em>more to come&hellip;</em></p>
{{>tail}}
