{{>head}}
<p id="info-message" class="alert alert-info">Click on an accession to see more info about it.</p>
      <div class="row">
        <div class="span12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Accenumb</th>
                <th>Center</th>
                <th>Last Name</th>
                <th>Language</th>
              </tr>
            </thead>
            <tbody>
              {{#rows}}
              <tr>
                <td>{{value}}</td>
                <td>{{key}}</td>
                <td>Otto</td>
                <td>CSS</td>
              </tr>
              {{/rows}}
            </tbody>
          </table>
        </div><!-- /span12 -->
      </div><!-- /row -->
{{>tail}}
