{{>head}}
<p id="info-message" class="alert alert-info">Click on an accession to see more info about it.</p>
      <div class="row">
        <div class="span12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Accenumb</th>
                <th>Instcode</th>
                <th>Cropname</th>
                <th>Genus</th>
                <th>Species</th>
              </tr>
            </thead>
            <tbody>
              {{#rows}}
              <tr>
                <td>{{key}}</td>
                {{#value}}
                <td>{{INSTCODE}}</td>
                <td>{{CROPNAME}}</td>
                <td>{{GENUS}}</td>
                <td>{{SPECIES}}</td>
                {{/value}}
              </tr>
              {{/rows}}
            </tbody>
          </table>
        </div><!-- /span12 -->
      </div><!-- /row -->
{{>tail}}
