{{>head}}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/search.js"></script>


      <div class="row">
        <div class="span12">
          <p>
            <form class="search">
              <input name="key" type="text" placeholder="Eg. Date of Collection"/>
              <select name="operator">
                <option value="=">=</option>
                <option value="&gt;">&gt;</option>
                <option value="&lt;">&lt;</option>
              </select>
              <input name="value" type="text" placeholder="Eg. February 1983"/>
              <input type="submit" class="btn info small" value="Search" />
            </form>
            <div style="clear:both"></div>
          </p>
          <div class="search-result"></div>
          <p id="info-message" class="alert alert-block">Click on an accession number to see more info about it.</p>
          <hr />
          <table class="table acc table-condensed">
            <thead>
              <tr>
                <th>Accenumb</th>
                <th>Instcode</th>
                <th>Cropname</th>
                <th>Genus</th>
                <th>Species</th>
              </tr>
            </thead>
            <tbody>
            {{#rows}}
              <tr>
                {{#value}}
                <td><a href="/accessions/{{_id}}" title="{{ACCENUMB}} - {{INSTCODE}} - {{GENUS}}"><span class="label label-info">{{ACCENUMB}}</span></a></td>
                <td>{{INSTCODE}}</td>
                <td>{{CROPNAME}}</td>
                <td>{{GENUS}}</td>
                <td>{{SPECIES}}</td>
                {{/value}}
              </tr>
            {{/rows}}
            </tbody>
          </table>
          <hr />
          <div class="center">
            {{#next_startkey}}
            <a class="btn info" href="/start/{{next_startkey}}">Next</a>
            {{/next_startkey}}
          </div>
        </div><!-- /span12 -->
      </div><!-- /row -->
<!--
            <li class="topic arc"> 
              <a href="/topic/2012-olympics" data-slug="2012-olympics" data-image="http://msnbcmedia2.msn.com/j/MSNBC/Components/Slideshows/_production/ss-110726-olympics-venues/ss-110726-olympic-venues-15.ss_small.jpg" title="View topic: 2012 Olympics">
                <i class="icon file"></i>
                <span class="label">{{key}}</span>
                <span class="underline">
                {{#value}}
                  {{INSTCODE}}
                  {{CROPNAME}}
                  {{GENUS}}
                  {{SPECIES}}
                {{/value}}
                </span>
              </a>
           </li>
-->
{{>tail}}
